body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, black, darkblue, black, darkblue, black);
    color: #333;
}

button{
    width: 65px;
    height: 65px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    background-attachment: fixed;
    background-color: inherit;
    color: aqua;
    border-color: aqua;
}

#pin{
    width: 300px;
    padding: 10px;
    border: 1px solid aqua;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(to bottom, red, green, blue);
}

.display{
    width: 70%;
    height: 40px;
    font-size: 24px;
    margin: 10px auto;
    border-color: aqua;
    color: aqua;
}

.hide{
    display: none;
}

.green_text{
    color: lime;
}

.red_text{
    color: red;
}

#title_div{
    font-size: x-large;
    text-align: center;
    color: aqua;
}

#enter_div{
    font-size: large;
}

