#container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#history{
    font-size: large;
}

button{
    font-size: large;
}

#input{
    font-size: large;
}